
<h1>Вырезать изображение иконки</h1>
<div class="row"  style="width: 320px; height: 320px;">
  <%= image_tag @advantage.icon_url(:large), id: "cropbox" %>
</div>


<h4>Предпросмотр</h4>
<div class="row">
  <div style="width:80px; height:80px; overflow:hidden; margin: 0 auto;">
    <%= image_tag @advantage.icon.large , :id => "preview" %>
  </div>
</div>

<div class="row">
  <%= simple_form_for([@page, @advantage],multipart:true, class: 'form-horizontal' ) do |f| %>
      <% %w[x y w h].each do |attribute| %>
          <%= f.input "crop_#{attribute}", as: :hidden %> <br>
      <% end %>
      <div class="actions">
        <%= f.button :submit, "Сохранить иконку", class: "btn-success btn-lg" %>
      </div>
  <% end %>
</div>