<h3 class="text-center">Редактирование преимуществ</h3>
<%= form_tag update_all_page_advantages_path, method: :put do  %>
    <% @advantages.each do |advantage| %>
          <%= simple_fields_for "advantages[]", advantage, class: 'form-horizontal' do |f| %>
              <% if advantage.errors.any?  %>
                  <div id="error_explanation">
                    <h2><%= pluralize(advantage.errors.count, "error") %> ошибки препятствуют сохранению</h2>
                    <ul>
                      <% advantage.errors.full_messages.each do |message|  %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            <h2>Преимущество <%= advantage.id %></h2>
      <div class="form-group">
          <div class="field">
            <%= f.input :description, as: :text, label: 'Текст преимущества', error: 'Введите текст описания'  %>
          </div>

      </div>
    <% end %>
  <% end %>
    <div class="actions">
      <%= submit_tag "Сохранить преимущества",class: "btn btn-success btn-lg" %>
    </div>
<% end %>
