

  <%= simple_form_for(@page, class: 'form-horizontal' ) do |f| %>
      <% if @page.errors.any?  %>
          <div id="error_explanation">
            <h2><%= pluralize(@page.errors.count, "error") %>prohibited this post from being saved</h2>

            <ul>
              <% @page.errors.full_messages.each do |message|  %>
                  <li><%= message %></li>
              <% end %>

            </ul>
          </div>

      <% end %>

      <div class="field">
        <%= f.input :name, label: 'Название страницы', error: 'Название страницы обязателено'  %>
      </div>
      <div class="field">
        <%= f.input :title, label: 'Заголовок страницы', error: 'Не введен заголовок страницы H1'  %>
      </div>
      <div class="field">

        <%= f.input :offer, as: :text, label: 'Текст УТП', error: 'Текст УТП обязателен' %>
      </div>
      <div class="field">
        <%= f.input :footer_text, label: 'Текст футера, копирайт', error: 'Введите текст футера' %>
      </div>
      <div class="actions">
        <%= f.button :submit, "Добавить новую страницу", class: "btn-success btn-lg" %>
      </div>
  <% end %>


