<div class="row">
  <div class="header">
    <%=  image_tag("logo.png", class: "logo") %>
    <div class="header_title">
      <h1><%= @page.title %></h1>
    </div>
    <div class="header_offer">
      <p><%= @page.offer %></p>
    </div>
    <%=  image_tag("love_icon.png", class: "icon") %>
  </div>
</div>
<div class="offers">
      <% @offers.shuffle.each_with_index do |offer, index | %>
          <div class="offer">
            <div class="discount">
              <div class="discount_percent">
                <%= offer.discount %>%
              </div>
            </div>
            <div class="img"><%= image_tag offer.image.normal %></div>
            <h3><%= offer.name %></h3>
            <div class="offer_stars">
              <%=  image_tag("5stars.png", class: "stars") %>
            </div>
            <div class="price">
              <div class="price_old">
                <strike><%= offer.price_old %></strike>
              </div>
              <div class="price_new">
                <%= offer.price %>
              </div>
            </div>
            <% if offer.link==nil %>
                <% offer.link="http://google.com" %>
            <% end %>
            <%= link_to (offer.link+@link_params) do  %>
                <div class="btn btn-success btn-lg"><%= offer.button_text %></div>
            <% end %>
          </div>
      <% end %>
</div>
<div class="row">
  <div class="advantages">
        <% @advantages.shuffle.each_with_index do |advantage, index | %>

            <div class="advantage">
              <div class="adv_image"><img src="" alt="">

              </div>
              <p><%= advantage.description %></p>
            </div>
        <% end %>
  </div>
</div>
<div class="row">
  <div class="feedbacks">
    <% @feedbacks.shuffle.each_with_index do |feedback, index | %>
        <div class="feedback">
          <div class="feedback_descr">
            <%= feedback.description %>
          </div>
          <div class="feedback_author">
            <div class="feed_image">
              <img src="" alt="">
            </div>
            <div class="feed_author">
              <%= feedback.author %>
            </div>

          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="footer">
    <a href=""><p text-center><%=@page.footer_text %></p></a>
  </div>
</div>




