
<%= link_to "Выйти из редактирования", destroy_admin_session_path, method: :delete, class: "btn btn-warning edit_block" %>
<%= link_to "Добавить новую страницу", new_page_path(page_id: @page.id+1),class: "btn btn-success edit_block"  %>
<%= link_to "Редактировать страницу", edit_page_path(id: @page.id, page_id: @page.id),class: "btn btn-info edit_block"  %>
<h3>Выбрать страницу</h3>


  <%= select_tag 'select_page', options_from_collection_for_select(@pages, "id", "name"),prompt: "Выберите страницу", onchange: "window.location.replace('/pages/'+this.value);" %>


<div class="row">
  <div class="header">
    <h1><%= @page.title %></h1>
    <div class="logo">
      <img src="" alt="">
    </div>
    <p><%= @page.offer %></p>

  </div>
</div>
<div class="offers">
  <%= form_tag edit_all_page_offers_path(page_id: @page.id), method: :get do %>
      <% if @offers.count==0 %>
          <h1>Отзывы</h1>
          <%= link_to new_page_offer_path(page_id: @page.id) do  %>
              <button type="button" class="btn btn-success btn-circle btn-lg">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
          <% end %>
      <% end %>
      <% @offers.shuffle.each_with_index do |offer, index | %>
          <hr>
          <div class="add_for_edit_check">
            <%= check_box_tag "offer_ids[]",offer.id, class:"big_check" %>
            <span>Редактировать</span>
          </div>
          <div class="offer">
            <span class="discount"><%= offer.discount %>%</span>
            <h3><%= offer.name %></h3>
            <!--<div class="img"><%#= image_tag offer.image.normal %></div>-->
            <div class="img"><%= image_tag offer.image.normal %></div>
            <div class="price">
              <div class="price_old">
                <strike><%= offer.price_old %></strike>
              </div>
              <div class="price_new">
                <%= offer.price %>
              </div>
            </div>
            <% if offer.link==nil %>
                <% offer.link="http://google.com" %>
            <% end %>
            <%= link_to (offer.link+@link_params) do  %>
                <div class="btn btn-success btn-lg"><%= offer.button_text %></div>
            <% end %>
          </div>
          <div class="edit_buttons">

            <% if index==@offers.count-1 %>
                <%= link_to new_page_offer_path(page_id: @page.id) do  %>
                    <button type="button" class="btn btn-success btn-circle btn-lg">
                      <i class="glyphicon glyphicon-plus"></i>
                    </button>
                <% end %>
            <% end %>
            <%= link_to edit_page_offer_path(page_id: @page.id, id: offer.id) do  %>
                <button type="button" class="btn btn-info btn-circle btn-lg">
                  <i class="glyphicon glyphicon-pencil"></i>
                </button>
            <% end %>
            <%= link_to  page_offer_path(page_id: @page.id,id: offer.id), method: :delete, data: {confirm: "Вы уверены что хотите удалить элемент?"}  do  %>
                <button type="button" class="btn btn-danger btn-circle btn-lg">
                  <i class="glyphicon glyphicon-minus"></i>
                </button>
            <% end %>
          </div>
      <% end %>

      <%= submit_tag "Редактировать предложения", class: "btn btn-info edit_block" %>
  <% end %>
</div>

<div class="advantages">
  <%= form_tag edit_all_page_advantages_path(page_id:@page.id), method: :get do %>
      <% if @advantages.count==0 %>
          <h1>Преимущества</h1>
          <%= link_to new_page_advantage_path(page_id: @page.id) do  %>
              <button type="button" class="btn btn-success btn-circle btn-lg">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
          <% end %>
      <% end %>
      <% @advantages.shuffle.each_with_index do |advantage, index | %>

          <hr>
          <div class="add_for_edit_check">
            <span><%= check_box_tag "advantage_ids[]", advantage.id,class:"big_check" %>Редактировать </span>
          </div>

          <div class="advantage">
            <div class="adv_image">
              <%= image_tag advantage.icon.normal %>
            </div>
            <p><%= advantage.description %></p>
          </div>


          <div class="edit_buttons">
            <% if index==@advantages.count-1 %>
                <%= link_to new_page_advantage_path(page_id: @page.id) do  %>
                    <button type="button" class="btn btn-success btn-circle btn-lg">
                      <i class="glyphicon glyphicon-plus"></i>
                    </button>
                <% end %>
            <% end %>
            <%= link_to edit_page_advantage_path(page_id: @page.id, id: advantage.id) do  %>
                <button type="button" class="btn btn-info btn-circle btn-lg">
                  <i class="glyphicon glyphicon-pencil"></i>
                </button>
            <% end %>
            <%= link_to  page_advantage_path(page_id: @page.id,id: advantage.id), method: :delete, data: {confirm: "Вы уверены что хотите удалить элемент?"}  do  %>
                <button type="button" class="btn btn-danger btn-circle btn-lg">
                  <i class="glyphicon glyphicon-minus"></i>
                </button>
            <% end %>
          </div>
      <% end %>
      <%= submit_tag "Редактировать преимущества", class:"btn btn-info edit_block" %>
  <% end %>
</div>

<div class="feedbacks">
  <%= form_tag edit_all_page_feedbacks_path(page_id: @page.id), method: :get do %>
      <% if @feedbacks.count==0 %>
          <h1>Отзывы</h1>
          <%= link_to new_page_feedback_path(page_id: @page.id) do  %>
              <button type="button" class="btn btn-success btn-circle btn-lg">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
          <% end %>
      <% end %>
      <% @feedbacks.shuffle.each_with_index do |feedback, index | %>
          <div class="feedback">
            <hr>
            <div class="add_for_edit_check">
              <span><%= check_box_tag "feedback_ids[]", feedback.id,class:"big_check" %>Редактировать </span>
            </div>
            <p><%= feedback.description %></p>
            <div class="feedback_author">
              <div class="feed_image">
                <%= image_tag feedback.photo.normal %>
              </div>
              <div class="feed_author">
                <%= feedback.author %>
              </div>
            </div>
            <div class="edit_buttons">

              <% if index==@feedbacks.count-1 %>
                  <%= link_to new_page_feedback_path(page_id: @page.id) do  %>
                      <button type="button" class="btn btn-success btn-circle btn-lg">
                        <i class="glyphicon glyphicon-plus"></i>
                      </button>
                  <% end %>
              <% end %>
              <%= link_to edit_page_feedback_path(page_id: @page.id, id: feedback.id) do  %>
                  <button type="button" class="btn btn-info btn-circle btn-lg">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
              <% end %>
              <%= link_to  page_feedback_path(page_id: @page.id,id: feedback.id), method: :delete, data: {confirm: "Вы уверены что хотите удалить элемент?"}  do  %>
                  <button type="button" class="btn btn-danger btn-circle btn-lg">
                    <i class="glyphicon glyphicon-minus"></i>
                  </button>
              <% end %>

            </div>
      <% end %>
      <%= submit_tag "Редактировать отзывы", class:"btn btn-info edit_block" %>
  <% end %>
  </div>
</div>

<div class="footer">

  <a href=""><p text-center><%=@page.footer_text %></p></a>
</div>



