

<div class="container text-center ">

  <div class="header">
  <h1><%= @page.title %></h1>
    <div class="logo">
      <img src="" alt="">
    </div>
    <p><%= @page.offer %></p>
    <div class="btn btn-success">
      <div class="span">Заказать!</div>
    </div>



    <hr>
  </div>
  <div class="offers">

    <% @offers.each do |offer| %>

        <%= link_to 'Редактировать оффер', edit_page_offer_path(@page, offer) %>
        <%= check_box_tag "offer_ids[]", offer.id %>
        <div class="offer">
          <span class="discount"><%= offer.discount %></span>
          <h3><%= offer.name %></h3>
          <div class="img"><%= image_tag offer.image.normal %></div>


              <div class="price">
                <div class="price_old">
                  <%= offer.price_old %>
                </div>
                <div class="price_new">
                  <%= offer.price %>
                </div>
              </div>
          <div class="btn btn-success"><%= offer.button_text %></div>
          <hr>
        </div>
    <% end %>
  </div>
  <div class="feedbacks">

    <% @feedbacks.each do |feedback| %>
        <div class="feedback">
          <p><%= feedback.description %></p>
          <span><b><%= feedback.author %></b></span>
          <hr>
        <% end %>
    </div>
  </div>

 <div class="advantages">
   <%#= link_to 'Редактировать блок', edit_page_path %>
    <% @advantages.each do |advantage| %>
      <div class="advantage">
        <p><%= advantage.description %></p>
      </div>
       <hr>
    <% end %>
 </div>
  <div class="footer">

      <a href=""><p text-center><%=@page.footer_text %></p></a>
  </div>
</div>

<%#= @pages.each do |page| %>
<%#= page.title %>
<%# end %>

