<div class="row">
  <%= link_to "Назад к редактированию", page_path(id: @page.id, page_id: @page.id),class: "btn btn-info btn_preview" %>
</div>
<% case @page.design %>
  <% when 1 %>
    <%= render "layouts/page_normal" %>
    <%= render partial: 'page_final', object: @page  %>
  <% when 2 %>
    <%= render "layouts/page_bright" %>
    <%= render partial: 'page_final', object: @page  %>
  <% when 3 %>
    <%= render "layouts/page_dark" %>
    <%= render partial: 'page_final', object: @page  %>
<% end %>

