

<%= simple_form_for([@page,@feedback], class: 'form-horizontal' ) do |f| %>
    <% if @feedback.errors.any?  %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "error") %>препятствует сохранению отзыва</h2>

          <ul>
            <% @feedback.errors.full_messages.each do |message|  %>
                <li><%= message %></li>
            <% end %>

          </ul>
        </div>

    <% end %>

    <div class="field">
      <%= f.input :description, as: :text, label: 'Текст описания', error: 'Введите текст описания'  %>
    </div>

    <div class="field">
      <%= f.input :author, label: 'Автор отзыва', error: 'Введите автора отзыва', defautl: "" %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Сохранить отзыв", class: "btn-success btn-lg" %>
    </div>
<% end %>


