

  <%= simple_form_for([@page,@offer], class: 'form-horizontal' ) do |f| %>
      <% if @offer.errors.any?  %>
          <div id="error_explanation">
            <h2><%= pluralize(@offer.errors.count, "error") %>prohibited this post from being saved</h2>

            <ul>
              <% @offer.errors.full_messages.each do |message|  %>
                  <li><%= message %></li>
              <% end %>

            </ul>
          </div>

      <% end %>

      <div class="field">
        <%= f.input :name, label: 'Имя предложения', error: 'Название предложения обязательно'  %>
      </div>
      <div class="field">
        <%= f.input :discount, label: 'Скидка в процентах', error: 'Скидка обязательна'   %>
      </div>
      <div class="field">
        <%= f.input :price_old, label: 'Старая цена(зачеркнутая)', error: 'Укажите пожалуйста старую цену'  %>
      </div>
      <div class="field">
        <%= f.input :price, label: 'Текущая цена', error: 'Текущая ценя должна быть указана'  %>
      </div>
      <div class="field">
        <%= f.input :button_text, label: 'Текст кнопки заказа товара', error: 'Текст кнопки обязателен'  %>
      </div>
      <div class="field">
        <%= f.input :image, as: :file, label: 'Изображение товара', error: 'Приложите изображение товра' %>
      </div>
      <div class="actions">
        <%= f.button :submit, "Сохранить предложение", class: "btn-success btn-lg" %>
      </div>
  <% end %>


