<h1>Вырезать изображение</h1>
<div class="row">
  <%= image_tag @offer.image_url(:large), id: "cropbox" %>
</div>


<h4>Предпросмотр</h4>
<div class="row">
  <div style="width:200px; height:200px; overflow:hidden; margin: 0 auto;">
    <%= image_tag @offer.image.large , :id => "preview" %>
  </div>
</div>

<div class="row">
  <%= simple_form_for([@page,@offer],multipart:true, class: 'form-horizontal' ) do |f| %>
  <%#= form_for @offer do |f| %>
      <% %w[x y w h].each do |attribute| %>
          <%= f.text_field "crop_#{attribute}" %> <br>
      <% end %>
      <div class="actions">
        <%= f.button :submit, "Сохранить иображение", class: "btn-success btn-lg" %>
      </div>
  <% end %>
</div>