<%#= simple_fields_for "offers[]", offer, html: {multipart: true } do |f| %>
<h1 class="text-center">Редактирование предложений</h1>
<%= form_tag update_all_page_offers_path, multipart: true,  method: :put do  %>
    <% @offers.each do |offer| %>
          <%= simple_fields_for "offers[]", offer, multipart: true do |f| %>
              <% if offer.errors.any?  %>
                  <div id="error_explanation">
                    <h2><%= pluralize(offer.errors.count, "ошибка") %> мешает сохранению</h2>
                    <ul>
                      <% offer.errors.full_messages.each do |message|  %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            <h2><%= offer.name %></h2>
    <div class="form-group">
            <div class="field">
              <%= f.input :name, class: "form-control"  %>
            </div>
            <div class="field">
              <%= f.input :discount, class: "form-control"  %>
            </div>
            <div class="field">
              <%= f.input :price_old, class: "form-control"  %>
            </div>
            <div class="field">
              <%= f.input :price, class: "form-control"  %>
            </div>
            <div class="field">
              <%= f.input :button_text, class: "form-control"  %>
            </div>
            <div class="field">
              <%= f.input :link, class: "form-control"  %>
            </div>

              <div class="fileinput fileinput-new ">
                <%= f.input :image, as: :file, label: "Файл изображения", error: 'Приложите изображение', class: "btn btn-default btn-file" %>
              </div>

    </div>
    <% end %>
        <hr>
  <% end %>
    <div class="actions">
      <%= submit_tag "Сохранить предложения", class: "btn btn-success btn-lg" %>
    </div>
<% end %>
