<div class="container text-center">
<%= form_tag update_all_page_offers_path, html: {multipart: true}, method: :put  do  %>
    <% @offers.each do |offer| %>
        <%#= simple_fields_for "offers[]", offer, html: {multipart: true } do |f| %>
          <%= fields_for "offers[]", offer, multipart: true do |f| %>
              <% if offer.errors.any?  %>
                  <div id="error_explanation">
                    <h2><%= pluralize(offer.errors.count, "error") %>prohibited this post from being saved</h2>
                    <ul>
                      <% offer.errors.full_messages.each do |message|  %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            <h2><%= offer.name %></h2>
            <div class="field">
              <%= f.text_field :name  %>
            </div>
            <div class="field">
              <%= f.text_field :discount  %>
            </div>
            <div class="field">
              <%= f.text_field :price_old  %>
            </div>
            <div class="field">
              <%= f.text_field :price  %>
            </div>
            <div class="field">
              <%= f.text_field :button_text  %>
            </div>
            <div class="field">
              <%= f.label :image %><br>
              <%= f.file_field :image %>
            </div>

    <% end %>
  <% end %>
    <div class="actions">
      <%= submit_tag "Обновить предложения" %>
    </div>
<% end %>
</div>