<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div  class="container application col-xs-12 col-md-offset-4 col-md-4 ">

      <div class="errors">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>


    <%= yield %>
  </div>

  </body>
</html>
