<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">
    <h1>Dark layout</h1>
    <p class="notice">Сообщение об ошибке<%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  </body>
</html>
