<!DOCTYPE html>
<html>
  <head>
    <title>MobileLandingCreator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'page_normal', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">
    <h1>Page Normal</h1>
    <div class="errors">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>


    <%= yield %>
  </div>

  </body>
</html>
